* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

* a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbox {
    flex: 3;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbox * {
    margin: 0px 20px 0px 30px;
}

h1 {
    font-size: 50px;
    color: white;
}

.navbox a {
    font-size: 20px;
}

#signout {
    width: 100px;
    height: 30px;
    background-color: darkcyan;
    color: white;
    border: solid 3px black;
}

.signoutbox {
    flex: 2;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontent {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.column {
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.leftcolumn {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rightcolumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rightcolumn h2 {
    color: white;
}

.userprofile {
    width: 80%;
    height: 450px;
    margin-bottom: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
}

.bluebar {
    width: 100%;
    flex: 1;
    background-color: darkcyan;
    border: solid 3px darkcyan;
}

.profilebottom {
    width: 100%;
    flex: 3;
    border-top: none;
    border-left: solid 3px gray;
    border-right: solid 3px gray;
    border-bottom: solid 3px gray;
}

.profilecontent {
    width: 100%;
    height: 100%;
    margin: 75px;
}

.userpfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 60px;
    padding:10px;
    background-color: white;
    border: 3px solid gray;
}

#edit_profile {
    color: rgb(2, 114, 184);
    text-decoration: underline;
}

#edit_profile img {
    width: 25px;
    height: 25px;
    vertical-align:middle;
    margin-right: 10px;
}

#m_marker {
    width: 13px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.usereducation {
    width: 80%;
    height: 250px;
    margin-top: 50px;
    background-color: white;
    border: solid 3px gray;
    display: flex;
    flex-direction: column;
}

.educationheader {
    flex: 1;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding-top: 10px;
    font-size: 10px;
    color: white;
}

.educationcontent {
    flex: 4;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.educationheader h2 {
    margin-left: 20px;
}

.educationcontent h2 {
    font-size: 30px;
}

.date {
    color: gray;
    font-size: 15px;
}

.educationcontent p {
    font-size: 20px;
    margin-top: 15px;
}

.connectionrequests {
    width: 80%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px gray;
}

.connectionheader {
    background-color: rgb(50, 50, 50);
    width: 100%;
    flex: 1;
    text-align: center;
    font-size: 10px;
}

.centertext {
    margin-top: 25px;
}

.request {
    background-color: white;
    width: 100%;
    flex: 1;
    display: flex;
}

.namebox {
    width: 100%;
    flex: 2;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.responsebox {
    width: 100%;
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userconnections {
    width: 80%;
    height: 40%;
    margin-bottom: 40px;
    background-color: white;    
    border: solid 3px gray;
    display: flex;
    flex-direction: column;
}

.userconnectionheader {
    width: 100%;
    background-color: rgb(50, 50, 50);
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.connectionnumber {
    background-color: gray;
    border-radius: 50%;
    width: 50px;
    height: 20px;
    text-align: center;
}

.connection {
    width: 100%;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
}

.bottombar {
    width: 100%;
    background-color: white;
    border-top: 3px solid gray;
    flex: 1;
    display: flex;
    align-items: center;
}

.gapbelow {
    margin-bottom: 20px;
}

.requestphoto {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-right: 35px;
}
.responsephoto {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
}

.active {
    font-weight: bold;
}

#view_more {
    color: rgb(2, 114, 184);
    text-decoration: underline;
    margin-left: 20px;
}